
/* Hero Section */
#Hero-Section {
    background-color: black;
      --opacidad-negro: 0.5;
      background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../img/cielo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
  }
  h1 {
    text-align: center;
  }

  /* Mis trabajos */

#Mis-trabajos .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
#Mis-trabajos img {
    height: 400px;
}
  /* contacto */
form { 
    padding: 2rem;
}